{% extends 'user/base.html' %}
{% load static %}
{% block content %}
 <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Add </h6>
                <h1 class="display-5 text-uppercase mb-0">Book Now</h1>
            </div>
            <div class="row g-5">
                {% for msg in messages %}
                <h6 style="color: red; text-align: center;
                padding-top: 11px;padding-bottom: 11px;border-radius: 10px;">{{msg}}</h6>
                {% endfor %}
                <div class="col-lg-7">
                    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row g-3">
        
        <!-- Pet Name -->
        <label for="petName">Pet Name :</label>
        <div class="col-12">
            <input type="text" value="{{pet.name}}" class="form-control bg-light border-0 px-4" name="pet_name" id="petName" placeholder="Enter Pet Name" readonly style="height: 55px;">
        </div>
        
        <!-- Account Number -->
        <label for="accountNumber">Account Number :</label>
        <div class="col-12">
            <input type="number" class="form-control bg-light border-0 px-4" name="account_number" id="accountNumber" placeholder="Enter Account Number" style="height: 55px;">
        </div>
        
        <!-- Holder Name -->
        <label for="holderName">Holder Name :</label>
        <div class="col-12">
            <input type="text" class="form-control bg-light border-0 px-4" name="holder_name" id="holderName" placeholder="Enter Holder Name" style="height: 55px;">
        </div>
        
        <!-- Number of Stocks -->
        <label for="stockCount">Quantity :</label>
        <div class="col-12">
            <input type="number" class="form-control bg-light border-0 px-4" name="stock_count" id="stockCount" placeholder="Enter quantity" style="height: 55px;">
        </div>
        
        <!-- Advance Amount -->
        <label for="advanceAmount">Advance Amount :</label>
        <div class="col-12">
            <input type="number" class="form-control bg-light border-0 px-4" name="advance_amount" id="advanceAmount" placeholder="Enter Advance Amount" style="height: 55px;">
        </div>
        
        <!-- Submit Button -->
        <div class="col-12">
            <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
        </div>
        
    </div>
</form>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}